{% extends 'news/testt.html '%}
{% load static %}

{% block content %}

<div class="container-train">

    <div class="train-img">

        <img src="{% static 'news/images/1.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/2.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/3.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/4.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/5.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/6.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/7.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/8.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/9.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/91.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/92.png' %}" tabindex="1" class="foc" border="0">
        <img src="{% static 'news/images/93.png' %}" tabindex="1" class="foc" border="0">

    </div>


</div>





{% endblock %}